/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 14, 2014, 6:48:05 PM
    Author     : jabrock
*/

body{
    font-size: 16px;
}

.page-padding{
    padding: 20px;
}

.header-padding{
    padding: 10px;
    margin-bottom: 10px;
}
/*
header{
    border-bottom: 2px #999999 solid;
    box-shadow: rgba(0,0,0,0.2) 0px 2px 3px, inset rgba(0,0,0,0.2) 0px -1px 2px; 
}*/


.logo:before{
    content:url("img/oracle_logo_sm.png");
    -webkit-transform:translate(-6.96203%, -6.96203%) scale(0.86076);
    -ms-transform:translate(-6.96203%, -6.96203%) scale(0.86076);
    transform:translate(-6.96203%, -6.96203%) scale(0.86076)
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx){
    .logo:before{
        content:url("img/oracle_logo_lrg.png");
        -webkit-transform:translate(-28.48101%, -28.48101%) scale(0.43038);
        -ms-transform:translate(-28.48101%, -28.48101%) scale(0.43038);
        transform:translate(-28.48101%, -28.48101%) scale(0.43038)
    }
}


.main-section {
    padding: 20px;
}

.editIcon {
    background-image: url
}

@font-face {
    font-family: 'AppFont';
    src: url("fonts/demo.woff") format("woff");
    font-weight: normal;
    font-style: normal; 
}

.demo-icon-font {
    font-family: AppFont;
    font-size: 1.34rem;
    line-height: 1;
    display: inline-block;
    font-weight: normal;
    speak: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    text-align: center;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
.demo-icon-font:before {
    display: inline-block; }

.demo-home-icon:before {
    content: "\e600"; }

.demo-password-icon:before {
    content: "\e601"; }

.demo-palette-icon:before {
    content: "\e602"; }

.demo-library-icon:before {
    content: "\e603"; }

.demo-chat-icon:before {
    content: "\e604"; }

.demo-bookmark-icon:before {
    content: "\e605"; }

.demo-grid-icon:before {
    content: "\e606"; }

.demo-list-icon:before {
    content: "\e607"; }

.demo-bulletlist-icon:before {
    content: "\e608"; }

.demo-gear-icon:before {
    content: "\e609"; }

.demo-delete-icon {
    content: url("img/delete.jpg")
}


.align-center {
    text-align: center;
}

.section-label {
    font-weight: bold;
    font-size: 1.5rem;
    border-bottom: 1px black solid;
}

.field-label {
    font-weight: bold;
    font-size: 1.25rem;
}

#map-container {
    margin: 20px 10px;
}

 #map-container *, #map-container *:before, #map-container *:after {
        -moz-box-sizing: content-box!important;
        -webkit-box-sizing: content-box!important;
        box-sizing: content-box!important;  
    }
    #map-container img {
        max-width: none;
    }
    #map-container label {
        width: auto;
        display: inline;
    }
